body{
    margin: 0px;
    background-color: rgb(157, 181, 139);
}

h1{
    color:brown;
    background-color:lightblue;
}
h2{
    color:green;
    background-color:lightyellow;
}
.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
    text-align: center;
    background-color: rgb(205, 219, 194);
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;

}
.navbar a:hover{
    color:brown;
    background-color: lightgray;
}